<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">

	<title>Webby Management Interface</title>
	<link rel="stylesheet" href="/static/styles.css">
</head>
<body>
	
	<div class="container">

		<h1>Webby</h1>
		
		<section class="details">
			<p>Running on <a style="color: #4DCDDC;" href="http://localhost:{{.Port}}">http://localhost:{{.Port}}</a></p>
			{{if .NetworkIP}}
				<p>Your local network address is <a style="color: #DA8C44;" href="http://{{.NetworkIP}}:{{.Port}}" target="_blank">http://{{.NetworkIP}}:{{.Port}}</a></p>
			{{end}}
		</section>


		<section class="servers">
			<h2>Running Servers</h2>

			<table>
				{{if .FileServers}}
					{{range .FileServers}}
					<tr>
						<td><a href="{{.Url}}" target="_blank">{{.Url}}</a></td>
						<td><a style="color: #BA76CE;text-decoration:underline;" href="http://{{$.NetworkIP}}:{{.Port}}" target="_blank">Network</a></td>
						<td><a style="color: #DE5656;text-decoration:underline;" href="http://localhost:{{$.Port}}/delete-server?id={{.ID}}">Delete</a></td>
					</tr>
					{{if .OpenedFile}}
					<tr>
						<td colspan="3"><a href="{{.Url}}/{{.OpenedFile}}" target="_blank">Opened {{.OpenedFile}}</a></td>
					</tr>
					{{end}}
					<tr>
						<td colspan="3">{{.RootPath}}</td>
					</tr>
					{{end}}
				{{else}}
					<tr>
						<td>No servers running</td>
					</tr>
				{{end}}
			</table>

		</section>

	</div>

</body>
</html>