
html, body {
	color: #333;
	background-color: #FFF;
}

h1 {
	font-size: 2.333em;
}

h1, h2 {
	font-weight: normal;
	text-transform: uppercase;
	font-weight: bold;
	margin: 1.2em 0 0.5em 0;
}

body {
	font-family: 'Roboto', 'Arial', sans-serif;
	line-height: 1.4;
	font-size: 16px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 32px;
}

a {
	text-decoration: none;
	color: #56AB88;
}

table td {
	border: 0;
	padding-right: 12px;
	color: #666;
}

.bottom-row {
	padding-bottom: 12px;
}